// Базовые цвета

$baseColorWhite: #fff;
$baseColorBlack: #0e0e0e;
$baseColorGrey: #70707a;
$baseColorLightGrey: lightgray;
$baseColorBtnFocus: #eeebeb;

// Цвета элементов страницы

$firstColor: #e3f8ff;
$secondColor: #dcfafb;
$thirdColor: #ffe8df;
$accentColor: #ff5151;
$darkColor: #161616;

$darkPinkLoader: #f4a0a6;
$darkBraunLoader: #f4a0a622;
$accentTextColor: #df6767;
$accentColorLightBlue: #d1d9e6;

// Типографика

$fontFamily: 'Roboto', 'Segoe UI', 'Arial', sans-serif;

$textSizeH1: 1.5rem;
$textSizeH3: 1rem;
$textSizeFilter: 11px;
$textSizeCardNoramal: 15px;
$textSizeCardSmall: 13px;
$textSizeCardXS: 10px;
