@import '@utils/variables.scss';

.filter {
  margin: 30px 0;
  width: 600px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.filterResetButton {
  grid-column-start: 2;
}

.title {
  position: relative;
  margin: 0 2.5rem;
  font-weight: 200;
}

.title::after {
  content: '';
  position: absolute;
  top: 60%;
  width: 20px;
  font-weight: 200;
  height: 0.5px;
  background-color: $baseColorBlack;
  margin-left: 1rem;
}
